<%- include('includes/head', { pageTitle: 'Error Occurred' }) %>
    <link rel="stylesheet" href="../../public/styles/base.css">
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <div class="error-container">
            <div class="error-div">
                <h1>Not authenticated</h1>
                <p>You are not authenticated!.</p>
                <p id="back-to-safety"><a class="btn btn-dark" href="/">Back To Safety</a></p>
            </div>
        </div>
    </main>
<%- include('includes/footer') %>