<header class="sticky">
    <nav id="desktop-menu">
        <div id="left-nav">
            <a href="/"><img src="/images/bubi-logo.png" alt="bubi-logo"></a>
            <ul>
                <li id="shop-sub-menu">
                    <div class="shop-main" style="cursor: pointer;">
                        <h3>Shop</h3>
                        <div class="icon-hover">
                            <img class="default-img" src="/images/list-vector-ligth.png" alt="">
                            <img class="hover-img" src="/images/list-vector-dark.png" alt="">
                        </div>
                    </div>
                    <ul class="submenu">
                        <li><a href="/t-shirts">T-shirts</a></li>
                        <li><a href="/sweatshirts">Sweatshirts</a></li>
                        <li><a href="/pants">Pants</a></li>
                        <li><a href="/bags">Bags</a></li>
                    </ul>
                </li>
                <% if(!locals.isAdmin) {%>
                <li>
                    <a href="/design"><h3>Design</h3></a>
                </li>
                <li>
                    <a href="/about"><h3>About</h3></a>
                </li>
                <% } %>
            </ul>
        </div>
        <div id="right-nav">
            <ul>
                <% if(!locals.isAdmin) {%>
                    <li>
                        <a href="/cart">
                            <div class="icon-hover">
                                <div class="cart-display">
                                    <img class="default-img" src="/images/chart-icon-ligth.png" alt="">
                                    <div class="badge"><%= locals.cart ? locals.cart.totalQuantity : 0 %></div>
                                    <img class="hover-img" src="/images/chart-icon-dark.png" alt="">
                                </div>
                            </div>
                        </a>
                    </li>
                    <% if(locals.isAuth && !locals.isAdmin) {%>
                    <li>
                        <a href="/profile/favorites" class="icon-hover">
                            <div class="icon-hover">
                                <img class="default-img" src="/images/profile-icon-ligth.png" alt="">
                                <img class="hover-img" src="/images/profile-icon-dark.png" alt="">
                            </div>
                        </a>
                    </li>
                    <% } %>
                <% } %>
                <% if (locals.isAdmin) {%>
                    <li class="unstable-buttons">
                        <a href="/admin/products">Manage Products</a>
                    </li>
                    <li class="unstable-buttons">
                        <a href="/admin/orders">Manage Orders</a>
                    </li>
                <%}  %>
                <% if(!locals.isAuth) {%>
                    <li class="unstable-buttons">
                        <a id="signin-desktop" href="/signin">
                            Sign In
                        </a>
                    </li>
                <% } %>
                <% if(locals.isAuth) {%>
                    <li>
                        <form action="/logout" method="POST">
                            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                            <button class="logout-btn">Logout</button>
                        </form>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <script src="/javascript/nav-submenu.js" defer></script>
</header>
<aside>
    <nav id="mobile-menu" class="sticky">
        <div id="left-nav">
            <a href="/"><img src="/images/bubi-logo.png" alt="bubi-logo"></a>
        </div>
        <div id="right-nav">
            <ul>
                <% if(!locals.isAdmin) {%>
                    <li>
                        <a href="/cart">
                            <div class="icon-hover">
                                <div class="cart-display">
                                    <img class="default-img" src="/images/chart-icon-ligth.png" alt="">
                                    <div class="badge"><%= locals.cart ? locals.cart.totalQuantity : 0 %></div>
                                    <img class="hover-img" src="/images/chart-icon-dark.png" alt="">
                                </div>
                            </div>
                        </a>
                    </li>
                <% } %>
                    <li>
                        <button id="mobile-menu-btn">
                            <span></span>
                            <span id="orange-span"></span>
                            <span></span>
                        </button>
                    </li>
            </ul>
        </div>
    </nav>
    <div id="mobile-side-menu">
        <ul id="left-categories">
            <li class="mobile-shop">
                <a href="javascript:void(0);" class="shop-toggle">Shop</a>
                <ul class="mobile-submenu">
                    <li><a href="/t-shirts">T-shirts</a></li>
                    <li><a href="/sweatshirts">Sweatshirts</a></li>
                    <li><a href="/pants">Pants</a></li>
                    <li><a href="/bags">Bags</a></li>
                </ul>
            </li>
            <% if(!locals.isAdmin) {%>
            <li>
                <a href="/design"><h3>Design</h3></a>
            </li>
            <li>
                <a href="/about"><h3>About</h3></a>
            </li>
            <% } %>
            <% if (locals.isAdmin) {%>
                <li class="unstable-buttons">
                    <a href="/admin/products"><h3>Manage Products</h3></a>
                </li>
                <li class="unstable-buttons">
                    <a href="/admin/orders"><h3>Manage Orders</h3></a>
                </li>
            <%}  %>
            <% if(!locals.isAuth) {%>
                <li class="unstable-buttons">
                    <a href="/signin"><h3>Sign In</h3></a>
                </li>
            <% } %>
            <% if(locals.isAuth) {%>
                <% if(!locals.isAdmin) {%>
                    <li class="unstable-buttons">
                        <a href="/profile/favorites"><h3>Profile</h3></a>
                    </li>
                <% } %>
                    <li>
                        <form id="mobile-logout-form" action="/logout" method="POST">
                            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                            <button class="mobile-logout">Logout</button>
                        </form>
                    </li>
            <% } %>
        </ul>
    </div>
</aside>