<%- include('../../shared/includes/head', { pageTitle: 'Bubi Wear' }) %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles/about.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main id="about-us">
        <div class="text-area">
            <div class="upper-info">
                <h1>About Us</h1>
                <p>We are a t-shirt printing studio driven by a passion for art and design. Every t-shirt we create is more than just wearable—it’s a canvas for self-expression. Combining creativity with craftsmanship, we take pride in delivering unique, high-quality designs that inspire. Our commitment to artistry ensures that each piece is thoughtfully made, blending style with meaning.</p>
            </div>
            <div class="lower-info">
                <div class="instagram">
                    <img src="/images/instagram-icon.png" alt="">
                    <p>@bubi.wear</p>
                </div>
                <div class="e-mail">
                    <img src="/images/email-icon.png" alt="">
                    <p>bubi.wear@gmail.com</p>
                </div>
                <div class="telephone">
                    <img src="/images/telephone-icon.png" alt="">
                    <p>+90 545 923 44 77</p>
                </div>
                <div class="address">
                    <img src="/images/address-icon.png" alt="">
                    Sıraselviler Caddesi , No: 47, Daire:3, Cihangir, Beyoğlu / İstanbul
                </div>
            </div>
        </div>
        <div class="image-area">
            <img src="/images/about-us-img.png" alt="">
        </div>
    </main>

    <%- include('../../shared/includes/footer') %>
</body>